body {
    

    background-image: url("strawberry.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
   
    font-size: large;
    font-style: italic;
    

  }